*{
    color: white;   
   
    font-size: 18px;
}

body{
    overflow-x: hidden;
    max-width: 100%;
    background-color: rgb(70, 70, 70) !important;
}


#serviceCard{
    background-color: rgb(7, 92, 11) !important;
}

.list-group-item{
    color: white !important;
}

