*{
    font-family: "Roboto", serif;
}

body{
    margin: 0;
    color: white;
    background-image: url("/makbar2.caravan.github.io/images/layered-waves-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
    border-radius: 87px;
    background: #377ebb;
    box-shadow:  11px 11px 22px #367bb7,
                 -11px -11px 22px #3881bf;
}

.nav-scroll {
    box-shadow: none !important;
}

header{
    top: 0;
    position:  sticky!important;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
.col{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   

}

.image{
    width: 80%;
    height: 80%;
}

.row{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  
}

@media (max-width: 767px) {
    .row {
      flex-direction: column; /* Stack rows as columns on small screens */
    }
}
.card{
    padding: 2%;
    border-radius: 3px;
    background: #454545;
    box-shadow:  34px 34px 69px #3b3b3b,
                 -34px -34px 69px #4f4f4f;
}

.icon{
 
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.icon:hover{
    transform: scale(1.1);
  }
  
